/* embedding azeret mono font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* universally applied */
*{
    margin: 0;
    padding: 0;
}
/* font family of body */
body{
    font-family: Azeret Mono;
}
/* navigate & download styling */
#button_01{
    margin-top: 40.533px;
    margin-bottom: 38.4px;
    padding: 18.133px 25.6px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8.533px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 21.333px;
    font-weight: 600;
    line-height: 24.533px;
    letter-spacing: 0%;
    text-align: center;
}
#author h3{
    margin-top: 53.333px;
    margin-bottom: 51.2px;
    color: rgb(13, 19, 33);
    font-size: 29.866px;
    font-weight: 800;
    line-height: 35.2px;
    letter-spacing: 0%;
}
#author{
    margin: 0 auto;
    height: 139.733px;
    aspect-ratio: 1440/131;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* hero content styling */
#hero{
    margin: 0 auto 78.933px;
    height: 695.466px;
    aspect-ratio: 360/163;
    background-image: url("../assets/Hero-bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero_img{
    margin-top: 27.733px;
    margin-bottom: 34.133px;
}
#hero_text{
    height: 226.133px;
    aspect-ratio: 499/106;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25.6px;
    text-align: center;
    margin-bottom: 34.133px;
}
#hero_text h2{
    color: rgb(13, 19, 33);
    font-size: 51.2px;
    font-weight: 800;
    line-height: 72.533px;
    letter-spacing: 0%;
}
#hero_text p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
}
#button_02{
    padding: 22.4px 25.6px;
    border: none;
    border-radius: 8.533px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 21.33px;
    font-weight: 600;
    line-height: 24.533px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
/* why web development styling */
#development{
    margin: 0 auto 93.866px;
    height: 1488px;
    aspect-ratio: 76/93;
    padding: 85.333px 103.466px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62.577px;
    border: none;
    border-radius: 17.066px;
    background: rgba(13, 19, 33, 0.02);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.25);
}
#development_introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25.6px;
    text-align: center;
}
#development_introduction h3{
    color: rgb(13, 19, 33);
    font-size: 34.133px;
    font-weight: 800;
    line-height: 39.466px;
    letter-spacing: 0%;
}
#development_introduction p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 25.6px;
}
.impact_img{
    margin-left: 0;
}
#impact_image{
    margin-right: 0;
}
.impact_text_button{
    padding: 51.2px;
    box-sizing: border-box;
    border: none;
    border-radius: 17.066px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
}
#Impact_Text_Button{
    padding: 51.2px;
    box-sizing: border-box;
    border: none;
    border-radius: 17.066px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    gap: 34.133px;
}
.impact_text{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.impact_text h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 25.6px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0%;
}
.impact_text p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 17.066px;
    margin-bottom: 34.133px;
}
.button_03{
    padding: 12.8px 21.333px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 21.333px;
    font-weight: 600;
    line-height: 24.533px;
    letter-spacing: 0%;
    text-align: center;
}
/* inspiration section styling */
#inspiration{
    margin: 0 auto 161.066px;
    height: 826.666px;
    aspect-ratio: 228/155;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 51.2px;
}
#inspiration_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25.6px;
}
#inspiration_text h3{
    color: rgb(13, 19, 33);
    font-size: 34.133px;
    font-weight: 800;
    line-height: 39.466px;
    letter-spacing: 0%;
}
#inspiration_text p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
}
#inspirational_video{
    padding: 34.133px;
    border: none;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 17.066px;
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.02);
}
iframe{
    height: 586.666px;
    aspect-ratio: 538/275;
    border-radius: 17.066px;
}
/* my current target section styling */
#current_target{
    margin: 0 auto 118.4px;
    height: 490.666px;
    aspect-ratio: 57/23;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 51.2px;
}
#current_target_pretext{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25.6px;
}
#current_target_pretext h3{
    color: rgb(13, 19, 33);
    font-size: 34.133px;
    font-weight: 800;
    line-height: 39.466px;
    letter-spacing: 0%;
}
#current_target_pretext p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
}
#target_contents{
    display: flex;
    justify-content: center;
    gap: 25.6px;
}
#target_contents h3{
    color: rgb(13, 19, 33);
    font-size: 25.6px;
    font-weight: 800;
    line-height: 38.4px;
    letter-spacing: 0%;
    margin-bottom: 8.533px;
}
#target_contents p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
}
.target_content{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 25.6px;
    padding: 42.666px;
    border: none;
    border-radius: 17.066px;
}
#html{
    background: rgba(255, 76, 30, 0.05);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.25);
}
#css{
    background: rgba(0, 76, 232, 0.05);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.25);
}
#javascript{
    background: rgba(255, 223, 0, 0.05);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.25);
}
.ct_anchor{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 700;
    line-height: 20.266px;
    letter-spacing: 0%;
}
/* my next target styling */
#next_target{
    margin: 0 auto 52.266px;
    height: 923.733px;
    aspect-ratio: 570/433;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25.6px;
}
#next_target_pretext{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25.6px;
    text-align: center;
}
#next_target_pretext p{
    margin-bottom: 25.6px;
}
.next_contents{
    padding: 42.666px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 17.066px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    gap: 25.6px;
}
.next_content{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.next_content p{
    margin-top: 8.533px;
    margin-bottom: 25.6px;
}
.nt_anchor{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 700;
    line-height: 20.266px;
    letter-spacing: 0%;
}
#next_target_pretext h3{
    color: rgb(13, 19, 33);
    font-size: 34.133px;
    font-weight: 800;
    line-height: 39.466px;
    letter-spacing: 0%;
}
#next_target_pretext p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
}
.next_content h4{
    color: rgb(13, 19, 33);
    font-size: 25.6px;
    font-weight: 800;
    line-height: 38.4px;
    letter-spacing: 0%;
}
.next_content p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
}