/* embedding azeret mono font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* universally applied */
*{
    margin: 0;
    padding: 0;
}
/* font family of body */
body{
    font-family: Azeret Mono;
}
/* navigate & download styling */
#button_01{
    margin-top: 40.533px;
    margin-bottom: 38.4px;
    padding: 18.133px 25.6px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8.533px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 21.333px;
    font-weight: 600;
    line-height: 24.533px;
    letter-spacing: 0%;
    text-align: center;
}
#author h3{
    margin-top: 53.333px;
    margin-bottom: 51.2px;
    color: rgb(13, 19, 33);
    font-size: 29.866px;
    font-weight: 800;
    line-height: 35.2px;
    letter-spacing: 0%;
}
#author{
    margin: 0 auto;
    height: 139.733px;
    aspect-ratio: 1440/131;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* hero content styling */
#hero{
    margin: 0 auto 78.933px;
    height: 695.466px;
    aspect-ratio: 360/163;
    background-image: url("../assets/Hero-bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero_img{
    margin-top: 27.733px;
    margin-bottom: 34.133px;
}
#hero_text{
    height: 226.133px;
    aspect-ratio: 499/106;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25.6px;
    text-align: center;
    margin-bottom: 34.133px;
}
#hero_text h2{
    color: rgb(13, 19, 33);
    font-size: 51.2px;
    font-weight: 800;
    line-height: 72.533px;
    letter-spacing: 0%;
}
#hero_text p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
}
#button_02{
    padding: 22.4px 25.6px;
    border: none;
    border-radius: 8.533px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 21.33px;
    font-weight: 600;
    line-height: 24.533px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
/* why web development styling */
#development{
    margin: 0 auto 93.866px;
    height: 1600px;
    aspect-ratio: 19/25;
    padding: 85.333px 103.466px;
    border: none;
    border-radius: 17.066px;
    background: rgba(13, 19, 33, 0.02);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.25);
}
#development_introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25.6px;
    text-align: center;
    margin-bottom: 51.2px;
}
#development_introduction h3{
    color: rgb(13, 19, 33);
    font-size: 34.133px;
    font-weight: 800;
    line-height: 39.466px;
    letter-spacing: 0%;
}
#development_introduction p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
}
#optimist{
    display: flex;
    flex-direction: column;
    gap: 34.133px;
}
.impact{
    display: flex;
    align-items: center;
    margin: 51.2px;
    border: none;
    border-radius: 17.066px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 4.266px 4.266px 0 rgba(0, 0, 0, 0.25);
}
.impact_img{
    margin: 51.2px 51.2px 51.2px 0;
}
#impact_image{
    margin: 51.2px 0 51.2px 51.2px;
}
.impact_text_button{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 51.2px;
}
#Impact_Text_Button{
    margin-left: 34.133px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.impact_text{
    margin: 11.2px 105.41866px 34.133px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 17.066px;
}
.impact_text h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 25.6px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0%;
}
.impact_text p{
    color: rgb(13, 19, 33);
    font-size: 17.066px;
    font-weight: 400;
    line-height: 27.733px;
    letter-spacing: 0%;
    opacity: 0.7;
}
.button_03{
    padding: 12.8px 21.333px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 21.333px;
    font-weight: 600;
    line-height: 24.533px;
    letter-spacing: 0%;
    text-align: center;
}